html,
body {
	height: 100%;
}

body {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-align: center;
	align-items: center;
	padding-top: 40px;
	padding-bottom: 40px;
	background-color: #f5f5f5;
}
.input-group-search {
	background-color: #f7f7fa;
	border-radius: 50px !important;
	height: 40px !important;
	padding: 16px 16px;
}
.form-search {
	display: block;
	width: 100%;
	min-height: 48px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: transparent;
	outline: none;
	border: none;
}
