.color-primary {
	color: #5bb318 !important;
}

.background-primary {
	background-color: #5bb318 !important;
}

.button-primary {
	background-color: #5bb318 !important;
	color: #ffffff !important;
	border-radius: 8px !important;
	min-height: 48px;
}

.input-group-text {
	background-color: transparent !important;
	border: none !important;
}

.input-group {
	background-color: #f7f7fa;
	border-radius: 8px;
	min-height: 48px;
}

.form-control,
.form-control:focus {
	border: none !important;
	background-color: transparent !important;
	resize: none !important;
	outline: 0px none #fff !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

input.middle:focus {
	outline-width: 0;
}

.form-otp {
	width: 100%;
	max-width: 330px;
	padding: 16px;
	margin: auto;
	background: transparent;
}

.input-group-custom {
	background-color: #f7f7fa;
	border-radius: 8px !important;
	min-height: 48px !important;
	padding: 0px 0px 0px 16px;
	-ms-flex-align: center !important;
	align-items: center !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.form-input {
	display: block;
	width: 100%;
	min-height: 48px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0px 16px;
}
