.color-primary {
	color: #32a02d !important;
}

.background-primary {
	background-color: #32a02d !important;
}

.button-primary {
	background-color: #32a02d !important;
	color: #ffffff !important;
	border-radius: 8px !important;
	min-height: 48px;
}

.input-group-text {
	background-color: transparent !important;
	border: none !important;
}

.input-group {
	background-color: #f7f7fa;
	border-radius: 8px;
	min-height: 48px;
}

.form-control,
.form-control:focus {
	border: none !important;
	background-color: transparent !important;
	resize: none !important;
	outline: 0px none #fff !important;
}

input:focus,
select:focus,
textarea:focus,
button:focus {
	outline: none;
}

input.middle:focus {
	outline-width: 0;
}

.form-otp {
	width: 100%;
	max-width: 330px;
	padding: 16px;
	margin: auto;
	background: transparent;
}

.input-group-custom {
	background-color: #f7f7fa;
	border-radius: 8px !important;
	min-height: 48px !important;
	padding: 0px 0px 0px 16px;
	-ms-flex-align: center !important;
	align-items: center !important;
	display: -ms-flexbox !important;
	display: flex !important;
}

.form-input {
	display: block;
	width: 100%;
	min-height: 48px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: transparent;
	outline: none;
	border: none;
	padding: 0px 16px;
}

.mySlider {
	width: 100% !important;
	height: 150px !important;
}

.swiper-slide {
	/* width: 359px !important; */
	width: 300px !important;
	text-align: center;
	font-size: 18px;
	background: transparent;
	/* border-radius: 10px; */

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.swiper-slide img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	border-radius: 12px;
}

.container-brand::-webkit-scrollbar {
	display: none;
}
.container-brand {
	overflow-x: scroll;
	white-space: nowrap;
	width: 100%;
	height: 150px !important;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}

.brand-slide {
	min-width: 75px !important;
	height: 100%;
	cursor: pointer;
	text-align: center;
	font-size: 18px;
	background: #fff;
	border-radius: 8px;
	margin: 0px 10px;

	/* Center slide text vertically */
	display: -webkit-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	-webkit-align-items: center;
	align-items: center;
}

.brand-slide.active {
	background: #49505786;
}

.brand-slide p {
	margin: 8px 0px 0px 0px !important;
	padding-left: 6px;
	padding-right: 6px;
	font-family: "Open Sans", sans-serif;
}

.brand-slide.active p {
	margin: 8px 0px 0px 0px !important;
	padding-left: 6px;
	padding-right: 6px;
	color: #fff !important;
	font-weight: 600;
	font-family: "Open Sans", sans-serif;
}

.brand-slide svg {
	fill: #495057 !important;
	height: 50px;
	width: 50px;
}

.input-group-search {
	background-color: #f7f7fa;
	border-radius: 50px;
	height: 40px;
	padding: 16px 16px;
	-ms-flex-align: center !important;
	align-items: center !important;
	display: -ms-flexbox !important;
	display: flex !important;
	width: 100% !important;
}
.form-search {
	display: block;
	width: 100%;
	min-height: 48px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 1.5;
	color: #495057;
	background-color: transparent;
	outline: none;
	border: none;
}

.brand-slide.active svg {
	fill: #fff !important;
	height: 50px;
	width: 50px;
}

.content-image-profile {
	width: 50px;
	height: 50px;
}
.content-image-profile img {
	width: 50px;
	height: 50px;
	object-fit: cover;
	border-radius: 100%;
}

/* start custom search component */
.button-search {
	background-color: #32a02d !important;
	color: #ffffff !important;
	border-radius: 12px !important;
	min-height: 48px;
	min-width: 48px;
}
.input-group-search {
	border-radius: 12px !important;
}
.input-group-search input {
	font-size: 16px !important;
}
/* end custom search component */
.brand-slide {
	height: 44px !important;
	border-radius: 12px !important;
	padding-left: 6px;
	padding-right: 6px;
}
.brand-slide p {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-top: 0px !important;
}
.brand-slide.active p {
	padding-top: 0px !important;
	padding-bottom: 0px !important;
	margin-top: 0px !important;
}

.container-brand-text::-webkit-scrollbar {
	display: none;
}
.container-brand-text {
	overflow-x: scroll;
	white-space: nowrap;
	width: 100%;
	height: 44px !important;
	-ms-overflow-style: none; /* IE and Edge */
	scrollbar-width: none;
}
.brand-slide.active {
	background: #32a02d !important;
}

/* custom product list */
.container-product .product-items {
	box-shadow: 0px 0px 6px rgba(38, 50, 56, 0.1);
	border-radius: 12px;
	background-color: #fff;
	min-height: 220px;
	margin: 8px 8px;
	width: calc(50% - 16px) !important;
	padding: 8px;
}

.container-product .product-items .product-cover {
	width: calc(100%);
	object-fit: cover;
	border-radius: 12px 12px 12px 12px;
	padding-bottom: 90%;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.action-load-more {
	background-color: #afcfae;
	padding-left: 16px;
	padding-right: 16px;
	padding-top: 8px;
	padding-bottom: 8px;
	border-radius: 16px;
}

.container-footer-button .button-footer img {
	height: 40px;
}
